# Waveforms & Simulation Dumps
*.vcd
*.vcd.idx
sim_*
sim

# Synthesis & Tool Logs & History
*.log
*.log.*
*.rpt
*.cmd
*.cmd.*
*.jou
*.pb
.history_*
*.def

# Libraries & Big Binary Data
*.lib
*.lef

# Output Build Directories
/results/
/sim/
