# Set default behavior to automatic text line ending normalization
* text=auto eol=lf

# Force specific ASIC/EDA files and scripts to use LF line endings across Windows and Linux
*.sh text eol=lf
*.v text eol=lf
*.ys text eol=lf
*.tcl text eol=lf
*.sdc text eol=lf
*.md text eol=lf
